<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IDuplex" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text">
                  <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                  <security mode="None">
                    <message clientCredentialType="None"/>
                  </security>
                </binding>
            </wsDualHttpBinding>

          </bindings>

        <client>
            <endpoint address="http://localhost:8001/DuplexService/DuplexService"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IDuplex"
                contract="DuplexServiceReference.IDuplex" name="WSDualHttpBinding_IDuplex" />
        </client>
    </system.serviceModel>
</configuration>