<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IDuplex" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8001/DuplexService/DuplexService"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IDuplex"
                contract="DuplexServiceReference.IDuplex" name="WSDualHttpBinding_IDuplex">
                <identity>
                    <userPrincipalName value="DESKTOP-BJC2NJL\aleks" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>